/**
 * Variables
 */

/**
 * Fonts
 */
$mainFont: 'Source Sans Pro', 'Helvetica', 'Arial', 'san-serif';
$bodyFont: 'Arial', 'Helvetica', 'sans-serif';
$iconFont: 'prospectnow-icons';


/**
 * Colors
 */
$lightBlue: 	#5CACEE;
$darkBlue:		#3978AC;
$darkerBlue:	#0A4B8D;
$lightOrange:	#F9A633;
$orange:		#F79000;
$green:			#3CA429;
$black:			#222222;
$grey:			#9B9B9B;
$lightGrey:		#FAFAFA;
