/**
 * Homepage Sections
 */
#Hero {
	padding: 110px 20px 40px;
	background-image: url('../img/home/top-hero-banner-house-mobile.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	color: #fff;

	@include mdBreakpoint(sm) {
		background-image: url('../img/home/top-hero-banner-ipad-p.jpg');
	}

	@include mdBreakpoint(gtSm) {
		padding: 150px 0 80px;
		background-image: url('../img/home/top-hero-banner-ipad-l.jpg');
	}

	@include mdBreakpoint(gtMd) {
		padding: 180px 0 80px;
		background-image: url('../img/home/top-hero-banner-desktop.jpg');
	}

	h1,
	h2,
	h3 {
		color: #fff;
	}

	h1 {
		font-size: 32px;

		@include mdBreakpoint(gtXs) {
			font-size: 48px;
			text-align: center;
		}

	}

	h3 {
		font-size: 24px;
		text-align: center;
	}

	.role {
		background: rgba(255,255,255,0.8);
		padding: 10px;
		border-radius: 3px;
		vertical-align: top;
		max-width: 624px;
		margin: 20px auto 0;

		h2 {
			color: $black;
			text-align: center;
			font-size: 24px;

			@include mdBreakpoint(gtXs) {
				display: inline-block;
				margin-left: 10px;
				margin-right: 20px;

			}
		}

		select {
			display: block;
			width: 100%;
			padding: 10px;
			margin-top: 10px;
			border: 1px solid $grey;
			font-family: $mainFont;

			@include mdBreakpoint(gtXs) {
				display: inline-block;
				width: 295px;
			}
		}
	}

	.search-properties {
		padding: 20px;
		position: relative;
		background: $lightBlue;
		margin-top: 20px;
		border-radius: 3px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.3);

		&:after {
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $lightBlue;
			position: absolute;
			top: -10px;
			margin-left: -5px;
			left: 50%;
		}

		h3 {
			text-align: center;
		}
	}
}

/**
 * Portal
 */
#Portal {
	padding: 40px 0;

	h2 {
		font-size: 32px;
		text-align: center;
		padding: 0 20px;

		@include mdBreakpoint(gtXs) {
			font-size: 48px;
		}
	}

	@extend %clearfix;

	@include mdBreakpoint(sm) {
		padding: 40px 20px;
	}

	@include mdBreakpoint(gtSm) {
		padding: 80px 20px;
	}
}

.portal-section {
	display: block;
	margin-top: 20px;

	@include mdBreakpoint(sm) {
		float: right;
		width: 48%;
		max-width: 351px;
	}

	@include mdBreakpoint(gtSm) {
		float: right;
		width: 377px;
		margin-right: 70px;

	}

	h3 {
		color: $grey;
		font-weight: 400;
		padding: 20px 0;
		margin: 0 20px;
		font-size: 24px;
		border-top: 1px solid $grey;

		@include mdBreakpoint(gtXs) {
			border-top: 0;
			padding: 0 0 20px;
			margin: 0;
		}
	}

	&#RealEstateAgent {

		h3 {
			border-top: 0;
			padding: 0 0 20px;
		}

		@include mdBreakpoint(sm) {
			float: left;

			.actions {
				padding-top: 23px;
			}
		}

		@include mdBreakpoint(gtSm) {
			float: left;
			margin-left: 70px;

			.actions {
				padding-top: 23px;
			}
		}
	}

	p {
		line-height: 22px;
		font-size: 14px;
		padding: 0 20px;

		@include mdBreakpoint(gtXs) {
			padding: 0;
		}
	}

	.img {
		width: 100%;
		height: 170px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 0;

		&.real-estate {
			background-image: url('../img/home/real-estate-image.jpg');

			@include mdBreakpoint(sm) {
				background-image: url('../img/home/real-estate-image-ip.jpg');
			}
		}

		&.lender {
			background-image: url('../img/home/lender-image.jpg');

			@include mdBreakpoint(sm) {
				background-image: url('../img/home/lender-image-ip.jpg');
			}
		}
	}

	.actions {
		padding: 0 20px 20px;

		.button {
			width: 100%;
			text-align: center;
			margin-top: 10px;
		}
	}
}

#DigitalMarketing {
	padding: 40px 20px;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	background: $lightGrey;

	@extend %clearfix;

	h2 {
		font-size: 32px;
		text-align: center;

		@include mdBreakpoint(gtXs) {
			font-size: 48px;
		}
	}

	h3 {
		font-weight: 300;
		font-size: 18px;
		color: $grey;
		margin-top: 20px;

		@include mdBreakpoint(sm) {
			font-size: 20px;
			text-align: center;
			line-height: 30px;
		}

		@include mdBreakpoint(gtSm) {
			font-size: 24px;
			text-align: center;
			line-height: 32px;
		}
	}

	.actions {

		img {
			width: 100%;
			display: block;
			margin: 20px 0;

			@include mdBreakpoint(sm) {
				float: right;
				max-width: 350px;
			}

			@include mdBreakpoint(gtSm) {
				float: right;
				max-width: 453px;
				margin-right: 80px;
			}
		}

		.button {
			display: block;
			text-align: center;

			@include mdBreakpoint(gtXs) {
				float: left;
				width: 335px;
				margin-top: 80px;
			}

			@include mdBreakpoint(gtSm) {
				margin-left: 80px;
				margin-top: 115px
			}
		}
	}
}

#UsingProspectNow {
	padding: 40px 20px;
	background: $black;
	color: #fff;

	@include mdBreakpoint(gtSm) {
		padding: 80px 0;
	}

	h2 {
		color: #fff;
		font-size: 32px;
		text-align: center;

		@include mdBreakpoint(sm) {
			font-size: 48px;
		}
	}

	.logos {
		margin-top: 20px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			margin: 20px;
			width: 35%;
			text-align: center;
			vertical-align: middle;

			@include mdBreakpoint(gtXs) {
				width: 18%;
			}

			@include mdBreakpoint(gtSm) {
				width: auto;
				max-width: 150px;
				text-align: center;
				margin: 0 40px;

				img {
					display: block;
					width: auto;
				}
			}

			img {
				width: 100%;
			}
		}
	}

	.testimonials {


		.testimony {
			vertical-align: top;
			margin-top: 40px;

			@include mdBreakpoint(gtXs) {
				display: inline-block;
				margin: 40px 10px;
				max-width: 45%;
			}

			@include mdBreakpoint(gtSm) {
				margin: 50px 40px;
				max-width: 41%;
			}

			.avatar {
				position: relative;
				display: block;
				float: left;

				.border {
					width: 100px;
					height: 100px;
					border: 4px solid #fff;
					border-radius: 50%;
					overflow: hidden;
				}

				.quote-sign {
					background: #fff;
					border-radius: 50%;
					color: $black;
					font-family: $mainFont;
					font-size: 36px;
					text-align: center;
					display: block;
					text-align: center;
					width: 30px;
					height: 30px;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}

			.testimony-text {
				padding-left: 120px;

				h4, h5 { color: #fff;}

				.name { font-size: 20px; }
				.title {
					font-size: 12px;
					font-weight: 300;
				}

				p {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}

	.actions {
		margin-top: 20px;

		.button {
			display: block;
			text-align: center;
			max-width: 350px;
			margin: 0 auto;
		}
	}
}

#Blog {
	padding: 40px 20px;

	@include mdBreakpoint(gtSm) {
		padding: 80px 0;
	}

	h2 {
		font-size: 32px;
		text-align: center;

		@include mdBreakpoint(gtXs) {
			font-size: 48px;
		}
	}

	.blog {
		position: relative;
		vertical-align: top;
		margin-top: 40px;

		@include mdBreakpoint(gtXs) {
			display: inline-block;
			max-width: 45%;
		}

		@include mdBreakpoint(gtSm) {
			margin: 40px 20px;
		}

		&:nth-child(odd) {

			@include mdBreakpoint(sm) {
				margin-left: 15px;
			}
		}

		&:nth-child(even) {

			@include mdBreakpoint(sm) {
				margin-right: 15px;
			}
		}

		.blog-date {
			float: left;
			margin-right: 20px;
			background: $grey;
			border-radius: 5px;
			padding: 10px;
			font-family: $mainFont;
			color: #fff;
			width: 55px;

			.month {
				display: block;
				text-align: center;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 18px;
				font-weight: 700;
			}
			.day {
				display: block;
				text-align: center;
				font-size: 36px;
				font-weight: 300;
				line-height: 32px;
			}
		}

		.blog-link {
			padding-left: 55px;
			font-family: $mainFont;

			a {
				color: $lightBlue;
				text-decoration: none;
				line-height: 22px;
			}

			.author {
				margin: 5px 0 0;
				font-size: 14px;
			}
		}
	}
}
