/**
 * Homepage Sections
 */

/**
 * Portal
 */
 
.portal-section {
	display: block;
	margin-bottom: 40px;

	.video-dialog:hover {
		cursor: pointer;
	}

	@include mdBreakpoint(gtSm) {
		float: right;
		margin-bottom: 0;
		width: 48%;
	}

	@include mdBreakpoint(gtMd) {
		width: 45%;
	}

	h2 {
		color: $grey;
		font-weight: bold;
		padding: 20px 0;
		margin: 0 20px;
		text-align: left;
		font-size: 24px;
		border-top: 1px solid $grey;

		@include mdBreakpoint(gtXs) {
			border-top: 0;
			padding: 0 0 20px;
			margin: 0;
		}
	}

	&#RealEstateAgent {

		h2 {
			border-top: 0;
			padding: 0 0 20px;
		}

		@include mdBreakpoint(gtSm) {
			float: left;
		}
	}

	img {
		height: auto;
		display: block;
		margin-bottom: 20px;
		width: 100%;
	}

	.actions {

		.button {
			width: 100%;
			text-align: center;
			margin-top: 10px;
		}
	}
}

#DigitalMarketing {
	background: $lightGrey;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	text-align: center;

	.actions {

		img {
			width: 100%;
			display: block;
			margin: 20px 0;

			@include mdBreakpoint(gtXs) {
				float: right;
				max-width: 45%;
			}
		}

		.button {

			@include mdBreakpoint(gtXs) {
				float: left;
				width: 45%;
				margin: 11% 0 0 0;
			}

		}

	}

}

#UsingProspectNow {
	background: $black;
	color: #fff;

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
	}

	.logos {
		margin-top: 20px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;
		}

		li {
			display: inline-block;
			margin: 20px;
			width: 35%;
			text-align: center;
			vertical-align: middle;

			@include mdBreakpoint(gtXs) {
				width: 18%;
			}

			@include mdBreakpoint(gtSm) {
				width: auto;
				max-width: 150px;
				text-align: center;
				margin: 0 40px;

				img {
					display: block;
					width: auto;
				}
			}

			img {
				width: 100%;
			}
		}
	}

	.testimonials {


		.testimony {
			vertical-align: top;
			margin-top: 40px;

			@include mdBreakpoint(gtXs) {
				display: inline-block;
				margin: 40px 10px;
				max-width: 45%;
			}

			@include mdBreakpoint(gtSm) {
				margin: 50px 40px;
				max-width: 41%;
			}

			.avatar {
				position: relative;
				display: block;
				float: left;

				.border {
					width: 100px;
					height: 100px;
					border: 4px solid #fff;
					border-radius: 50%;
					overflow: hidden;
				}

				.quote-sign {
					background: #fff;
					border-radius: 50%;
					color: $black;
					font-family: $mainFont;
					font-size: 36px;
					text-align: center;
					display: block;
					text-align: center;
					width: 30px;
					height: 30px;
					position: absolute;
					bottom: 0;
					right: 0;
				}

				img {
					display: block;
					height: auto;
					width: 100%;
				}

			}

			.testimony-text {
				padding-left: 120px;

				h4, h5 { color: #fff;}

				.name {
					font-size: 20px;
					margin: 10px 0;
				}
				.title {
					font-size: 12px;
					font-weight: 300;
					margin: 0 0 10px 0;
				}

				p {
					font-size: 14px;
					line-height: 20px;
				}
			}
		}
	}

	.actions {
		margin-top: 20px;

		.button {
			max-width: 350px;
			margin: 0 auto;
		}
	}
}

#Blog {

	.blog {
		position: relative;
		vertical-align: top;
		margin-top: 40px;

		@include mdBreakpoint(gtXs) {
			display: inline-block;
			width: 45%;
		}

		@include mdBreakpoint(gtSm) {
			margin: 40px 20px;
		}

		&:nth-child(odd) {

			@include mdBreakpoint(sm) {
				margin-left: 15px;
			}
		}

		&:nth-child(even) {

			@include mdBreakpoint(sm) {
				margin-right: 15px;
			}
		}

		.blog-date {
			float: left;
			margin-right: 20px;
			background: $grey;
			border-radius: 5px;
			padding: 10px;
			font-family: $mainFont;
			color: #fff;
			width: 55px;

			.month {
				display: block;
				text-align: center;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 18px;
				font-weight: 700;
			}
			.day {
				display: block;
				text-align: center;
				font-size: 36px;
				font-weight: 300;
				line-height: 32px;
			}
		}

		.blog-link {
			padding-left: 55px;
			font-family: $mainFont;

			a {
				color: $lightBlue;
				text-decoration: none;
				line-height: 22px;
			}

			.author {
				margin: 5px 0 0;
				font-size: 14px;
			}
		}
	}
}


.portal-image-wrap {
	margin-bottom: 20px;
	position: relative;

	img {
		display: block;
		margin: 0;
	}

	span {
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		margin-top: -16px;
		padding: 8px 10px;
		position: absolute;
		top: 50%;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}

	#RealEstateAgent & {

		span {
			background: #F79000;
			left: 20px;

			&:after {
				content: '';
				border-top: 8px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 10px solid #F79000;
				margin-top: -9px;
				position: absolute;
				right: -20px;
				top: 50%;
			}

		}

	}

	#Lender & {

		span {
			background: #3CA429;
			right: 20px;

			&:before {
				content: '';
				border-top: 8px solid transparent;
				border-right: 10px solid #3CA429;
				border-bottom: 8px solid transparent;
				border-left: 10px solid transparent;
				margin-top: -9px;
				position: absolute;
				left: -20px;
				top: 50%;
			}

		}

	}

}

#Hero .simplified-form {
	margin: auto;
	max-width: 500px;
	width: 100%;

	@include mdBreakpoint(gt1024) {
		max-width: 650px;

		.field {
			clear: none;
			float: left;
			width: 66%;

			&:first-child {
				margin-right: 20px;
			}

			&.actions {
				width: 30%;

				.button {
					padding: 4px;
				}
			}

		}

	}

}